{% extends 'mentor/mentor_template.html' %}

{% block title %}
Select a Class
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 style="text-align: center; margin-bottom: 3rem">Record Marks</h1>
    <form method="post">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4"></div>
            <div class="text-center">
                <button class="btn" style="margin-top: 1.5rem; background-color: #0A2558; color: white;" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}