<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="../../static/css/bootstrap.css"/>
  <link rel="stylesheet" href="../../static/styles/style.css"/>

  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/cfe6f7725f.js" crossorigin="anonymous"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="sidebar">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus"></i>
    <span class="logo_name"><a href="/" style="color: white; text-decoration: none">TPC</a></span>
  </div>
  <ul class="navigators">
    <li>
      <a href="/mentor_home">
        <i class="bx bx-box"></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/mentor_home/add_student">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Add Student</span>
      </a>
    </li>
    <li>
      <a href="/mentor_home/remove_student">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Remove Student</span>
      </a>
    </li>
    <li>
      <a href="/mentor_home/take_attendance">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Take Attendance</span>
      </a>
    </li>
    <li>
      <a href="/mentor_home/review_attendance_records">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Attendance Records</span>
      </a>
    </li>
    <li>
      <a href="/mentor_home/add_marks">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Add Marks</span>
      </a>
    </li>
    <li>
      <a href="/mentor_home/review_marks">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Marks Records</span>
      </a>
    </li>
    <li>
      <a href="/logout">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Logout</span>
      </a>
    </li>
  </ul>
</div>
<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class="bx bx-menu sidebarBtn"></i>
      <span class="dashboard">Thapar Polytechnic College Feedback System</span>
    </div>

  </nav>
  {%with messages = get_flashed_messages(with_categories=true)%}
  {% if messages %}
  {%for category, message in messages%}
  <div class="alert alert-{{category}} alert-dismissible" role="alert">
    {{ message}}
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {%endfor%}
  {% endif %}
  {% endwith %}
  <div class="home-content">
    {% block content %}
    {% endblock %}
  </div>
</section>

<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function () {
    sidebar.classList.toggle("active");
    if (sidebar.classList.contains("active")) {
      sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
    } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  };
</script>
</body>
</html>