{% extends 'mentor/mentor_template.html' %}
{% block title %}Remove Student{% endblock %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            display: grid;
            margin: auto;
            justify-content: center;
            width: 50%;
            height: fit-content;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"],
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 3px;
            padding: 10px 20px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
    <div class="container">
        <h2 style="margin-bottom: 20px">Student Removal Form</h2>
        <form method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="userId">Roll No.</label>
                <input type="text" id="userId" name="user_id" required>
            </div>

            <button type="submit">Remove</button>
        </form>
    </div>
{% endblock %}