{% extends 'student_template.html' %}
{% block title %}Feedback Submission{% endblock %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            display: grid;
            margin: auto;
            justify-content: center;
            width: 50%;
            height: fit-content;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"],
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 3px;
            padding: 10px 20px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
    <div class="container">
        <h2 style="margin-bottom: 20px">Teacher Registration Form</h2>
        <form method="post">
            <div class="form-group">
                <label for="name">Teacher Name</label>
                <input type="text" id="name" name="teacher_name" required>
            </div>
            <div class="form-group">
                <label for="email">Class taken</label>
                <input type="text" id="email" name="class_taken" required>
            </div>
            <div class="form-group">
                <label for="mobile">Subject</label>
                <input type="text" id="mobile" name="subject" required>
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="text" id="rating" name="rating" required>
            </div>
            <div class="form-group">
                <label for="feedback_question">Feedback Question</label>
                <select id="feedback_question" name="feedback_question" required>
                    {% for i in data %}
                    <option>{{i[0]}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}